@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: white;
	font-family: 'Work Sans', sans-serif;
	
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #bf5700;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 0px;
}

nav {
  float: middle;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0;
  margin-right: 10;
}

nav li {
  display: inline-block;
  margin-left: 0;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: brown;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

body {
  background-color: white;
 }

 /* For the image on home page */
 #austinmaphome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

/* Title Design */
h1 {
  font-family: fantasy, serif;
  color:#bf5700;
  font-variant: small-caps;
  font-size: 75px;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Intro Text */
#intro {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: brown;
  text-align: justify;
  font-variant: small-caps;
  font-weight: 800px;
  margin: 0px 40px;
  padding-bottom: 15px;
}

hr.dotted {
  border-top: 10px dotted #bf5700;
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card-deck {
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Like the actual intro not title */
#introabout {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: brown;
  text-align: justify;
  font-variant: small-caps;
  font-weight: 800px;
  margin: 0px 50px;
  padding-bottom: 10px;
}

#modeltitle {
  font-family: fantasy, serif;
  color:#bf5700;
  font-variant: small-caps;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}


/* Search bar */
.search-container {
  float: right;
  max-width: 600px;
  margin-top: 10px;
}

.search-container input[type=text] {
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
  border: none;
  width: 80%;
}

.search-container button {
  float: right;
  padding: 8px 16px;
  margin-top: 5px;
  margin-right: 10px;
  background: #bf5700;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  display: block;
  margin: auto;
}

.search-container button:hover {
  background: #444;
}



