<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="/static/images/logo.png">
        <meta charset="UTF-8">
        <link href ="https://fonts.googleapis.com/css?family=Quicksand&display=swap>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>AustinBites</title>
    </head>


    <body> 
        <div class="splash"></div>

        <header>
            <div class="container">
              <h1 class="logo"></h1>
  
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/cuisines">Cuisines</a></li>
                  <li><a href="/drinks">Drinks</a></li>
                  <li><a href="/restaurants">Restaurants</a></li>
                  <li> 
                    <div class="search-container">
                      <form action="/search" method="GET">
                        <input type="text" placeholder="Search..." name="query">
                        <button type="submit">Search</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </nav>
<<<<<<< HEAD
              
=======
              <div class="search-container">
                <form action="/search" method="GET">
                  <input type="text" placeholder="Search..." name="query">
                  <button type="submit">Search</button>
                </form>
              </div>
>>>>>>> f433913 (final changes)
            </div>
          </header>
        
        <section>
            <style>
                p.AboutUs{margin-right: 200px; margin-left: 200px;}
                .clean{
                    margin-right: 45%;
                    margin-left: 45%;

                }

            </style>

</section>

<div style="background-image: url('/static/images/UT.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center; padding-top: 20px; padding-bottom: 50px;">
  <div style = "background-color: #ffffff; opacity: 0.95; margin: 0px 100px; padding-top: 10px; padding-bottom: 5px; border-radius: 25px;">     
          
            <h1 style = "text-align:center">About Us</h1>
            <!-- <h1>{{tot_num_commits}}</h1>-->
            <!-- <h1>{{commit_counts}}</h1>  -->
            <p id = "introabout" class = "AboutUs" style = "text-align:center">Driven by our love for food, AustinBites was created with the purpose of having a place where one could not only discover new foods but also return to forgotten favorites. Our name was inspired by the term used to describe the people of Austin, Austinites.  </p>
        
        
        


        <!-- Cards linking to other tabs -->
        <section>
            <div class="card-deck">
              <div class="card border-primary mb-3" style="width: 18rem;">
                <h5 style ="text-align: center;"class="card-header">Kejia Zhang</h5>
                <img class="card-img-top" src="/static/images/kejia1.jpg" alt="Card image cap">
                <div class="card-body">
                  <a href="" class="stretched-link"></a>
                  <h6 style ="text-align: center;"class="card-title">Back-end</h6>
                  <hr class="dashed">
                  <p style ="text-align: center;"class="card-text">I am a senior undergraduate in mathematics at UT Austin. I expect to graduate on June 2023 with B.S. in Mathematics and certificate in and certificate in Computation and Data Sciences. I'm looking for the opportunity to pursue my future Ph.D. in applied mathematics/data sciences/quantitative biology.</p>
                  <hr class="dashed">
                  <p style ="text-align: center;">Git stats:</p>
                  <p style = " text-align: left;">No. of commits: {{commit_counts['AlexZKJ']}}</p>
                  <p style = " text-align: left;">No. of issues: {{issues_per_contributor_list[2]}}</p>
                  <p style = " text-align: left;">No. of unit tests: 1</p>
                  <p style = " text-align: left;">Major Responsibilities: Constructing cuisine model and search function</p>
                </div>
              </div>
              <div class="card border-warning mb-3" style="width: 18rem;">
                <h5 style ="text-align: center;"class="card-header">Estefani Vasquez</h5>
                <img class="card-img-top" src="/static/images/Estefani.jpg" alt="Card image cap">
                <div class="card-body">
                  <a href="" class="stretched-link"></a>
                  <h6 style ="text-align: center;"class="card-title">Back-end</h6>
                  <hr class="dashed">
                  <p style ="text-align: center;"class="card-text">Hello! My name is Estefani Vasquez. I am a 3rd year mathematics student at UT Austin from Houston! Aside from my math major, I am also pursuing UT's computer science certificate. Outside of class, I am involved with CASA, Central American Student Association, and HACS, Hispanic Association of Computer Science. Over the summer, I was a software engineer intern with Zillow. After university, I am hoping to combine my interest in CS with my love for math and work in the data science field.
                    <hr class="dashed">
                    <p style ="text-align: center;">Git stats:</p>
                  <p style = " text-align: left;">No. of commits: {{commit_counts['Estefani Vasquez']}}</p>
                  <p style = " text-align: left;">No. of issues: {{issues_per_contributor_list[3]}}</p>
                  <p style = " text-align: left;">No. of unit tests: 1</p>
                  <p style = " text-align: left;">Major Responsibilities: GCP deployment, Postman API, databases</p>
                  </p>
                </div>
              </div>
              <div class="card border-success mb-3" style="width: 18rem;">
                <h5 style ="text-align: center;"class="card-header">Bryan Doan</h5>
                <img class="card-img-top" src="/static/images/Bryan.jpg" alt="Card image cap">
                <div class="card-body">
                  <a href="" class="stretched-link"></a>
                  <h6 style ="text-align: center;"class="card-title">Back-end</h6>
                  <hr class="dashed">
                  <p style ="text-align: center;"class="card-text">I am a 3rd year undergraduate student pursuing a bachelor's degree of Science in Physics and Math at the University of Texas at Austin. I am also looking to obtain a certificate in Elements of Computing and a minor in Material Sciences. My main interest lies in nuclear engineering, and I am currently conducting research at the J.J. Pickle Research Campus where I synthesize additive materials for nuclear reactors. I plan on continuing to work in the nuclear field and apply to graduate school.</p>
                  <hr class="dashed">
                  <p style ="text-align: center;">Git stats:</p>
                  <p style = " text-align: left;">No. of commits: {{bryan_johnny_CC['bryan']}}</p>
                  <p style = " text-align: left;">No. of issues: {{issues_per_contributor_list[1]}}</p>
                  <p style = " text-align: left;">No. of unit tests: 1</p>
                  <p style = " text-align: left;">Major Responsibilities: GCP deployment, pagination, sorting, databases</p>
                </div>
              </div>
              <div class="card border-info mb-3" style="width: 18rem;">
                <h5 style ="text-align: center;"class="card-header">Brianna Zhao</h5>
                <img class="card-img-top" src="/static/images/IMG_3084.jpg" alt="Card image cap">
                <div class="card-body">
                  <a href="https://www.linkedin.com/in/bribel/" class="stretched-link"></a>
                  <h6 style ="text-align: center;"class="card-title">Front-end</h6>
                  <hr class="dashed">
                  <p style ="text-align: center;" class="card-text">Hi! My name is Brianna Zhao, and I am currently a senior at UT Austin pursuing a BS in Public Health and the Elements of Computing Certificate. In my free time, I enjoy playing piano, rock climbing, and finding new music. Upon graduation, I plan to start as a software engineer at JP Morgan.</p>
                  <hr class="dashed">
                  <p style ="text-align: center;">Git stats:</p>
                  <p style = " text-align: left;">No. of commits: {{commit_counts['bribel']}}</p>
                  <p style = " text-align: left;">No. of issues: {{issues_per_contributor_list[0]}}</p>
                  <p style = " text-align: left;">No. of unit tests: N/A</p>
                  <p style = " text-align: left;">Major Responsibilities: overall website desgining and organization, Gitlab API implementation, about page</p>
                  
                </div>
              </div>
              <div class="card border-danger mb-3" style="width: 18rem;">
                <h5 style ="text-align: center;"class="card-header">Johnny Tran</h5>
                <img class="card-img-top" src="/static/images/Johnny.jpg" alt="Card image cap">
                <div class="card-body">
                  <a href="https://www.linkedin.com/in/johnnytran01/" class="stretched-link"></a>
                  <h6 style ="text-align: center;"class="card-title">Back-end</h6>
                  <hr class="dashed">
                  <p style ="text-align: center;"class="card-text">I am a Senior at the University of Texas at Austin puring a BSA in Nutrition with a certificate in Elements of Computing. I am currently interning within the university as a Software App Tester as well as working with Oracle in their Student Advisory Group. I plan on pursuing a career within the technical field and am applying for many opportunities for after college.</p>
                  <hr class="dashed">
                  <p style ="text-align: center;">Git stats:</p>
                  <p style = " text-align: left;">No. of commits: {{bryan_johnny_CC['johnny']}}</p>
                  <p style = " text-align: left;">No. of issues: N/A</p>
                  <p style = " text-align: left;">No. of unit tests: 1</p>
                  <p style = " text-align: left;">Major Responsibilities: Implementing search function, databases</p>
                </div>
              </div>
            </div>
          </section>
<h2 style = "text-align:center">Additional Information</h2>

                  <!-- STAT CARDS -->
            <section>
              <div class="card-deck">
                <div class="card text-center" style="width: 18rem;">
                  <h5 class="card-header">Project Stats:</h5>
                  <div class="card-body">
                    <a href="" class="stretched-link"></a>
                    <p style = " text-align: left;">Total no. of commits: {{tot_num_commits}}</p>
                    <p style = " text-align: left;">Total no. of issues: {{total_issues}}</p>
                    <p style = " text-align: left;">Total no. of unit tests: 4</p>
                  </div>
                </div>
                <div class="card text-center" style="width: 18rem;">
                  <h5 class="card-header">Gitlab Links</h5>
                  <div class="card-body">
                    <p><a href="https://gitlab.com/johnnyt01/cs331e-idb/-/issues">Gitlab Issue Tracker</a></p>
                    <p><a href="https://gitlab.com/johnnyt01/cs331e-idb/-/tree/main">Gitlab Repository</a></p>
                    <p><a href="https://gitlab.com/johnnyt01/cs331e-idb/-/wikis/Technical-Report">Gitlab Wiki</a></p>
                    <p><a href="https://speakerdeck.com/estefaniv/austinbites-presentation">Speaker Deck</a></p>
                  </div>
                </div>
                <div class="card text-center" style="width: 18rem;">
                  <h5 class="card-header">Data Links</h5>
                  <div class="card-body">
                    <p class="card-text"><a href = "https://documenter.getpostman.com/view/26658568/2s93RZM9wy">API Link</a></p>
                    <p class="card-text"><a href = "https://spoonacular.com/food-api/docs">Food API</a></p>
                    <p class="card-text"><a href = "https://rapidapi.com/letscrape-6bRBa3QguO5/api/local-business-data/">Local Business Data API</a></p>
                  </div>
                </div>
                <div class="card text-center" style="width: 18rem;">
                  <h5 class="card-header">Tools Used</h5>
                  <div class="card-body">
                    <p class="card-text"><a href = "https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap</a></p>
                    <p class="card-text"><a href = "https://flask.palletsprojects.com/en/2.2.x/">Flask</a></p>
                    <p class="card-text"><a href = "https://www.postgresql.org/docs/">PostgreSQL</a></p>
                    <p class="card-text"><a href = "https://www.namecheap.com/">NameCheap</a></p>
                    <p class="card-text"><a href = "https://www.gitlab.com/">Gitlab</a></p>
                    <p class="card-text"><a href = "https://www.postman.com/">Postman</a></p>
                    <p class="card-text"><a href = "https://code.visualstudio.com/">VSCode</a></p>
                    <p class="card-text"><a href = "https://discord.com/">Discord</a></p>
                  </div>
                </div>
                <div class="card text-center" style="width: 18rem;">
                  <h5 class="card-header">Tests</h5>
                  <div class="card-body">
                    <a href="/static/images/tests.png">Run our tests</a>
                  </div>
                </div>
              </div>
            </section>
    </body>
  </div>
  </div>
</html>
