<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta charset="UTF-8">
        <link href ="https://fonts.googleapis.com/css?family=Quicksand&display=swap>">
        <link rel="icon" href="/static/images/logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>AustinBites</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <style type="text/css">

            .title{
                margin-left: 20px;
            }

            img{
                width: 80%;
                height: 80%;
            }

        </style>

    </head>

        <section>
    <body>

        <div class="splash"></div>

        <header>
            <div class="container">
              <h1 class="logo"></h1>
  
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/cuisines">Cuisines</a></li>
                  <li><a href="/drinks">Drinks</a></li>
                  <li><a href="/restaurants">Restaurants</a></li>
                  <li> 
                    <div class="search-container">
                      <form action="/search" method="GET">
                        <input type="text" placeholder="Search..." name="query">
                        <button type="submit">Search</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </nav>
              
            </div>
          </header>

          <div style="background-image: url('/static/images/cuisineback2.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center; padding-top: 20px; padding-bottom: 50px;">
            <div style = "background-color: #ffffff; opacity: 0.9; margin: 0px 100px; padding-top: 10px; padding-bottom: 5px; border-radius: 25px;">     

        <section>
            <h1 id = "modeltitle"style = "text-align:center">Cuisines</h1>
            <form action="/search/cuisine" method="GET">
                <input type="text" placeholder="Search..." name="query">
                <button type="submit">Search</button>
            </form>
            <!-- <a href="{{ url_for('cuisine_model', sort_by='id') }}">test sorting for id</a> 
            <a href="{{ url_for('cuisine_model', sort_by='name') }}">test sorting for name</a>
            <a href="{{ url_for('cuisine_model', sort_by='type') }}">test sorting for type</a> -->
        </section>


        <br>
        <!-- <h1> Cuisines</h1> -->

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#
                        <button type="button" class="clean"><a href="{{ url_for('cuisine_model', sort_by='id') }}">sort</a> </button>
                    </th>
                    <th scope="col">Name
                        <button type="button" class="clean"><a href="{{ url_for('cuisine_model', sort_by='name') }}">sort</a> </button>
                    </th>
                    <th scope="col">Type
                        <button type="button" class="clean"><a href="{{ url_for('cuisine_model', sort_by='type') }}">sort</a> </button>                        
                    </th>
                    <th scope="col">Available Restaurants</th>
                    <th scope="col">Available Drink Places</th>
                    <!-- <th scope="col">Photos</th> -->
                </tr>
            </thead>

            <tbody>
				{% for i in cuisines.items %}
                <tr>
                    <th scope="row">{{i.id}}</th>
                    
                    <td><a href="{{url_for('cuisine_page', id = i.id )}}"> {{i.name}}</a></td>
                    
                    <td>{{i.type}}</td>
                    <td>{{amount_of_res[i.id]}}</td>
                    <td>{{amount_of_drinks[i.id]}}</td>
                </tr>

				{% endfor %}
            </tbody>
        </table>
        <center>
            {% for page_num in cuisines.iter_pages(left_edge=1, right_edge=1,
            left_current=1, right_current=1) %} {% if page_num %} {% if cuisines.page ==
            page_num %}
            <a
                class="btn btn-info mb-4"
                href="{{ url_for('cuisine_model', page=page_num, sort_by=sort_by) }}"
                >{{page_num}}</a>
    
            {% else %}
            <a
                class="btn btn-outline-info mb-4"
                href="{{ url_for('cuisine_model', page=page_num, sort_by=sort_by) }}"
                >{{page_num}}</a>
            {% endif %} {% else %} ... {% endif %} {% endfor %}
        </center>
    
    </body>
</div>
</div>  
</html>
