<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta charset="UTF-8">
        <link href ="https://fonts.googleapis.com/css?family=Quicksand&display=swap>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>AustinBites</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
        
        <style type="text/css">

            .title{
                margin-left: 20px;
            }
            img{
                width: 80%;
                height: 80%;
            }

        </style>

    </head>

    <body>
        <div class="splash"></div>

        <header>
            <div class="container">
              <h1 class="logo"></h1>
  
  
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/cuisines">Cuisines</a></li>
                  <li><a href="/drinks">Drinks</a></li>
                  <li><a href="/restaurants">Restaurants</a></li>
                  <li> 
                    <div class="search-container">
                      <form action="/search" method="GET">
                        <input type="text" placeholder="Search..." name="query">
                        <button type="submit">Search</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </nav>
              
            </div>
          </header>
        
        <section>
            <h1 style = "text-align:center">AustinBites</h1>
        </section>
        
        <h1>{{type.name}}</h1>
        <table class="table table-hover">

            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Price Range</th>
                    <!--<th scope="col">Hours of Operation</th>-->
                    <th scope="col">Delivery</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Reviews</th>

                </tr>
            </thead>
            <h4>{{type.type}}</h4>
            <!-- START HERE
            WANT TO MAKE A TABLE WITH RESTAURANTS AND DRINKS FOR CUISINE TYPE -->
            <tbody>
                {% for rest in restaurant_list %}
                <tr>
                    <th scope="row"> </th>
                    <td><a href="{{url_for('restaurant_page', res_name = rest.res_name)}}">{{rest.res_name}}</a>
    
                    <td>Restaurant</td>
                    <td>{{rest.rating}}</td>
                    <td>{{rest.price_level}}</td>

                    <td>{{rest.delivery}}</td>
                    <td>{{rest.phone}}</td>
                    <td>{{rest.address}}</td>
                    <td><a href={{rest.reveiws}}> Reviews for {{rest.res_name}}</a></td>
                </tr>
                {% endfor %}

                {% for drink in drink_list %}
                <tr>
                    <th scope="row"></th>
                    <td><a href="{{url_for('drink_page', drink_name = drink.drink_name)}}">{{drink.drink_name}}</a>
                    <td>Drink</td>
                    <td>{{drink.rating}}</td>
                    <td>{{drink.price_level}}</td>

                    <td>{{drink.delivery}}</td>
                    <td>{{drink.phone}}</td>
                    <td>{{drink.address}}</td>
                    <td><a href={{drink.reveiws}}> Reviews for {{drink.drink_name}}</a></td>
                </tr>
                {% endfor %}
                 
            </tbody>
        </table>
    </body>
</html>
