<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta charset="UTF-8">
        <link href ="https://fonts.googleapis.com/css?family=Quicksand&display=swap>">
        <link rel="icon" href="/static/images/logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>AustinBites</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
        <style type="text/css">
            .title{
                margin-left: 20px;
            }
            .carousel-inner{
                height: 550px;
            }
            .para{
                margin-left: 20px;
            }
        </style>
    </head>

    <body>
        <div class="splash"></div>

        <header>
            <div class="container">
              <h1 class="logo"></h1>
  
  
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/cuisines">Cuisines</a></li>
                  <li><a href="/drinks">Drinks</a></li>
                  <li><a href="/restaurants">Restaurants</a></li>
                  <li> 
                    <div class="search-container">
                      <form action="/search" method="GET">
                        <input type="text" placeholder="Search..." name="query">
                        <button type="submit">Search</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </nav>
              
            </div>
          </header>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous"></script>
        
<!--BEGIN LEFT CARD-->
        <div style="background-image: url('{{drink.photos}}'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center; padding-top: 20px; padding-bottom: 50px;">
            <div style = "background-color: #ffffff; opacity: 0.75; margin: 0px 100px; padding-top: 10px; padding-bottom: 5px; border-radius: 25px;">
            <h1 class="title text-center" > {{drink.drink_name}} </h1>

            <div class="card-deck">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Rating</h5>
                    <p class="card-text">{{drink.rating}} out of 5</p>
                    <h5 class="card-title">Price Range</h5>
                    <p class="card-text">{{drink.price_level}}</p>
                    
                    <h5 class="card-title">View nearby restaurants</h5>
<!-- ACCORDION BEGIN -->
            <div id="accordion">
                <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Click here
                    </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        {%if drink.nearby_res %}
                        {% for i in drink.nearby_res %}
                        <p class="para"> <a href= {{ url_for('restaurant_page' ,res_name=i.res_name) }}>{{i.res_name}}</a> </p>
                        {% endfor %}
                        {% else %}
                        <p class="para"> No Nearby Restaurants </p>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
            <br>
            <h5 class="card-title">Cuisine type(s) offered</h5>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Click here
                        </button>
                    </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        {% for i in cuisine_list %}
                        <p class="para"> <a href= {{ url_for('cuisine_page' ,id=i.id) }}>{{i.name}}</a> </p>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
<!--END ACCORDION-->
<!--END LEFT CARD-->
<!--BEGIN MIDDLE CARD-->
                </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="{{drink.photos}}" onerror="this.onerror=null; this.src='/static/images/Downtown-Austin.jpeg'" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{drink.desc}}</p>
                    <h5 class="card-title">Address</h5>
                    <p class="card-text">{{drink.address}}</p>
                    <h5 class="card-title">Reviews</h5>
                    <p class="card-text"> <a href="{{drink.reveiws}}">Yelp Reviews for {{drink.drink_name}}</a></p>
                  </div>
                </div>
<!--END MIDDLE CARD-->
<!--BEGIN RIGHT CARD-->
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title">Hours of Operation</h5>
                    <p class="card-text">
                        {% for i in drink.hours%}
                        {{i}} <br>
                       {% endfor %}</p>
                    <h5 class="card-title">Delivery</h5>
                    {%if drink.delivery == True%}
                    <p class="card-text">Available</p>
                    {% else %}
                    <p class="card-text">Not available</p>
                    {% endif %}
                    <h5 class="card-title">Phone</h5>
                    <p class="card-text">{{drink.phone}}</p>
                  </div>
                </div>
              </div>
<!--END RIGHT CARD-->
        </div>
        </div>
    </body>
</html>