<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta charset="UTF-8">
        <link href ="https://fonts.googleapis.com/css?family=Quicksand&display=swap>">
        <link rel="icon" href="/static/images/logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>AustinBites</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <style type="text/css">

            .title{
                margin-left: 20px;
            }

            img{
                width: 80%;
                height: 80%;
            }

        </style>

    </head>

    <body>

        <div class="splash"></div>

        <header>
            <div class="container">
              <h1 class="logo"></h1>
  
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/cuisines">Cuisines</a></li>
                  <li><a href="/drinks">Drinks</a></li>
                  <li><a href="/restaurants">Restaurants</a></li>
                  <li> 
                    <div class="search-container">
                      <form action="/search" method="GET">
                        <input type="text" placeholder="Search..." name="query">
                        <button type="submit">Search</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </nav>
              
            </div>
          </header>


<div style="background-image: url('/static/images/foodtrucks.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center; padding-top: 20px; padding-bottom: 50px;">
    <div style = "background-color: #ffffff; opacity: 0.9; margin: 0px 100px; padding-top: 10px; padding-bottom: 5px; border-radius: 25px;">     
            
        <section>
            <h1 id = "modeltitle" style = "text-align:center">Restaurants</h1>
            <center><div class="input-group mb-3">
            <form action="/search/restaurant" method="GET">
                <input type="text" placeholder="Search..." name="query">
                <button type="submit">Search</button>
            </form>
        </div</center>
            <!--<a href="{{ url_for('restaurant_model', sort_by='name') }}">test sorting for name</a> 
            <a href="{{ url_for('restaurant_model', sort_by='rating') }}">test sorting for rating</a>
            <a href="{{ url_for('restaurant_model', sort_by='price') }}">test sorting for price</a>
            <a href="{{ url_for('restaurant_model', sort_by='delivery') }}">test sorting for delivery</a>-->
        </section>


        <br>
        <!-- <h1 id = "modeltype"> Restaurants</h1> -->

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
<<<<<<< HEAD
                    <th scope="col">Name
                        <button type="button" class="clean"><a href="{{ url_for('restaurant_model', sort_by='name') }}">sort</a> </button>
                    </th>
                    <!--<th scope="col">Cuisine</th>-->
                    <th scope="col">Rating
                        <button type="button" class="clean"><a href="{{ url_for('restaurant_model', sort_by='rating') }}">sort</a> </button>
                    </th>
                    <th scope="col">Price Range
                        <button type="button" class="clean"><a href="{{ url_for('restaurant_model', sort_by='price') }}">sort</a> </button>
                    </th>
                    <!--<th scope="col">Hours of Operation</th>-->
                    <th scope="col">Delivery
                        <button type="button" class="clean"><a href="{{ url_for('restaurant_model', sort_by='delivery') }}">sort</a> </button>
                    </th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Reviews</th>
=======
                    <th id = "intro"scope="col">Name</th>
                    <!--<th id = "intro"scope="col">Cuisine</th>-->
                    <th id = "intro"scope="col">Rating</th>
                    <th id = "intro"scope="col">Price Range</th>
                    <!--<th scope="col">Hours of Operation</th>-->
                    <th id = "intro"scope="col">Delivery</th>
                    <th id = "intro"scope="col">Phone</th>
                    <th id = "intro"scope="col">Address</th>
                    <th id = "intro"scope="col">Reviews</th>
>>>>>>> 6dfad82b9d3029d6ad949b575b193dbd31b215d1
                    <!-- <th scope="col">Photos</th> -->
                </tr>
            </thead>

            <tbody>
				{% for i in restaurants.items %}
                <tr>
                    <th scope="row"> </th>
                    <td><a href="{{url_for('restaurant_page', res_name = i.res_name)}}">{{i.res_name}}</a>
    
                    <td>{{i.rating}}</td>
                    <!--PRICE IF-->
                    {%if i.price_level == None%}
                    <td>N/A</td>
                    {% else %}
                    <td>{{i.price_level}}</td>
                    {% endif %}
                    <!--DELIVERY IF BEGIN-->
                    {%if i.delivery == True%}
                    <td>Available</td>
                    {% else %}
                    <td>Not available</td>
                    {% endif %}
                    <!--DELIVERY IF END -->
                    <td>{{i.phone}}</td>
                    <td>{{i.address}}</td>
                    <td><a href={{i.reveiws}}> Reviews for {{i.res_name}}</a></td>
                </tr>

				{% endfor %}
            </tbody>
        </table>
        <center>
            {% for page_num in restaurants.iter_pages(left_edge=1, right_edge=1,
            left_current=1, right_current=1) %} {% if page_num %} {% if restaurants.page ==
            page_num %}
            <a
                class="btn btn-info mb-4"
                href="{{ url_for('restaurant_model', page=page_num, sort_by=sort_by) }}"
                >{{page_num}}</a>
    
            {% else %}
            <a
                class="btn btn-outline-info mb-4"
                href="{{ url_for('restaurant_model', page=page_num, sort_by=sort_by) }}"
                >{{page_num}}</a>
            {% endif %} {% else %} ... {% endif %} {% endfor %}
        </center>
    </body>
</div>
</div>
</html>