<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo"></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/cuisines">Cuisines</a></li>
          <li><a href="/drinks">Drinks</a></li>
          <li><a href="/restaurants">Restaurants</a></li>
          <li> 
            <div class="search-container">
              <form action="/search" method="GET">
                <input type="text" placeholder="Search..." name="query">
                <button type="submit">Search</button>
              </form>
            </div>
          </li>
        </ul>
      </nav>
      
    </div>
  </header>
  <section>
    <h1 style = "text-align:center">AustinBites</h1>
</section>
<body>
    <h1>Search Results for "{{query}}"</h1>
    <h2>Restaurants</h2>
    <ul id="search-results">
        {% if results.restaurants %}
        {% for result in results.restaurants %}
            <li><a href="{{url_for('restaurant_page', res_name=result.res_name)}}">{{result.res_name}}</a></li>
        {% endfor %}
        {%endif%}
    </ul>
    <h2>Drinks</h2>
    <ul id="search-results">
        {%if results.drinks %}
        {% for result in results.drinks %}
            <li><a href="{{url_for('drink_page', drink_name=result.drink_name)}}">{{result.drink_name}}</a></li>
        {% endfor %}
        {% endif %}
    </ul>
    <h2>Cuisines</h2>
    <ul id="search-results">
        {%if results.cuisines %}
        {% for result in results.cuisines %}
            <li><a href="{{url_for('cuisine_page', id=result.id)}}">{{result.name}}</a></li>
        {% endfor %}
        {% endif %}
    </ul>
</body>

  <script>
    // Add event listener to all links in search results
    var links = document.querySelectorAll('#search-results a');
    links.forEach(function(link) {
      link.addEventListener('click', function(e) {
        // Prevent default link behavior
        e.preventDefault();
  
        // Get the href attribute of the clicked link
        var url = link.getAttribute('href');
  
        // Redirect the user to the appropriate page
        window.location.href = url;
      });
    });
  </script>
</html>
