<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="/static/images/logo.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>AustinBites</title>
    </head>


    <body>
        <div class="splash"></div>

        <header>
          <div class="container">
            <h1 class="logo"></h1>

            <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/cuisines">Cuisines</a></li>
                  <li><a href="/drinks">Drinks</a></li>
                  <li><a href="/restaurants">Restaurants</a></li>
                  <li> 
                    <div class="search-container">
                      <form action="/search" method="GET">
                        <input type="text" placeholder="Search..." name="query">
                        <button type="submit">Search</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </nav>
            
          </header>
<div style="background-image: url('/static/images/AustinMap.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: center; padding-top: 20px; padding-bottom: 50px;">
  <div style = "background-color: #ffffff; opacity: 0.9; margin: 0px 100px; padding-top: 10px; padding-bottom: 5px; border-radius: 25px;">     
  <section>
            <h1 style = "text-align:center">AustinBites</h1>
            <p id='intro' style = " text-align:center">Welcome to our website, AustinBites! Explore all of the Restaurant and Drink places all around the great city of Austin! You can find information of what cuisine these places serve, their reviews, and opening and closing times!</p>
            <!-- <img src="/static/images/AustinMap.jpg" alt="Austin Food Map" id="austinmaphome"
            style="width: 700px; height: 500px;"> -->
            <hr class ="dotted">
          </section>
    
        <!-- Cards linking to other tabs -->
        <section>
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="/static/images/Cuisines.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Cuisines</h5>
                <a href="/cuisines" class="stretched-link"></a>
                <p class="card-text">Looking for your next craving? Click here to explore all of the various cuisines offered right here in Austin!</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/static/images/coffees.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Drinks</h5>
                <a href="/drinks" class="stretched-link"></a>
                <p class="card-text">From coffee to cocktails, both and everything in between, Austin has it all! Dive deeper into all the drinks to quench your thirst.</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="/static/images/Restaurant.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Restaurants</h5>
                <a href="/restaurants" class="stretched-link"></a>
                <p class="card-text">Narrow down your next meal option with our database of restaurants from all over Austin! You'll be sure to find something for everyone in here.</p>
              </div>
            </div>
          </div>
        </section>
         
    </body>
  </div>
  </div>
</html>
