<!--
<!DOCTYPE html>
<html>
	<head> </head>
	<body>
		<p>This is the restaurant page</b>
		<a href="{{url_for('index')}}">Main Menu</a> <br/>
		<h1>Books</h1>
		{% if restaurants == [] %}
			<p>No restaurants exist</p>
		{% else %}
			{% for i in restaurants %}
				<div>
					{{i.latitude}}
					<br/> <br/>
				</div>
			{% endfor %}
		{% endif %}
	</body>
</html>
-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta charset="UTF-8">
        <link href ="https://fonts.googleapis.com/css?family=Quicksand&display=swap>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>AustinBites</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <style type="text/css">

            .title{
                margin-left: 20px;
            }

            img{
                width: 80%;
                height: 80%;
            }

        </style>

    </head>

    <body>

        <div class="splash"></div>

        <header>
            <div class="container">
              <h1 class="logo"></h1>

              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/cuisines">Cuisines</a></li>
                  <li><a href="/drinks">Drinks</a></li>
                  <li><a href="/restaurants">Restaurants</a></li>
                  <li> 
                    <div class="search-container">
                      <form action="/search" method="GET">
                        <input type="text" placeholder="Search..." name="query">
                        <button type="submit">Search</button>
                      </form>
                    </div>
                  </li>
                </ul>
              </nav>

            </div>
          </header>

        <section>
            <h1 style = "text-align:center">AustinBites</h1>
        </section>


        <br>
        <h1> Restaurants</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cuisine</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Price Range</th>
                    <th scope="col">Hours of Operation</th>
                    <th scope="col">Delivery</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Reviews</th>
                    <!-- <th scope="col">Photos</th> -->
                </tr>
            </thead>

            <tbody>
				{% for i in restaurants %}
                <tr>
                    <th scope="row">1</th>
                    <td><a href="{{url_for('restaurant1')}}">{{i.name}}</a>
                    <img src={{i.photos}}> </td>
                    <td>{{i.cuisine}}</td>
                    <td>{{i.rating}}</td>
                    <td>{{i.price_level}}</td>
                    <td>
                        {{i.hours}}
                    </td>
                    <td>{{i.delivery}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.address}}</td>
                    <td><a href={{i.reveiws}}> Reviews for {{i.name}}</a></td>
                </tr>

				{% endfor %}
            </tbody>
        </table>


    </body>

</html>